[workspace]
members = ["dotenv-linter", "dotenv-lookup"]
resolver = "2"

[workspace.package]
authors = ["Mikhail Grachev <work@mgrachev.com>", "dotenv-linter core team & contributors"]
edition = "2021"
license = "MIT"
repository = "https://github.com/dotenv-linter/dotenv-linter"

[workspace.dependencies]
assert_cmd = "2.0.16"
dunce = "1.0.4"
tempfile = "3.10.1"

[profile.release]
opt-level = 'z' # Optimize for size
lto = true
codegen-units = 1
panic = 'abort'
