[package]
name = "dotenv-linter"
version = "2.0.0"
authors = ["Mikhail Grachev <work@mgrachev.com>"]
edition = "2018"
description = "Lightning-fast linter for .env files"
homepage = "https://github.com/dotenv-linter/dotenv-linter"
license = "MIT"
readme = "README.md"
keywords = ["environment", "env", "dotenv", "linter", "lint"]
categories = ["command-line-utilities"]

[dependencies]
clap = "2.33.0"
dunce = "1.0.1"

[dev-dependencies]
assert_cmd = "0.12.0"
tempfile = "3.1.0"

[profile.release]
opt-level = 'z'  # Optimize for size.
lto = true
codegen-units = 1
panic = 'abort'
