[package]
name = "dotenv-linter"
version = "3.2.0" # managed by release.sh
authors = ["Mikhail Grachev <work@mgrachev.com>"]
categories = ["command-line-utilities"]
edition = "2021"
homepage = "https://dotenv-linter.github.io"
include = ["/src", "/benches", "README.md"]
keywords = ["cli", "dotenv", "environment", "env", "linter"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/dotenv-linter/dotenv-linter"
description = "Lightning-fast linter for .env files"

[dependencies]
clap = "4.0.26"
colored = "2.0.0"

[dependencies.update-informer]
version = "0.5.0"
optional = true

[target.'cfg(windows)'.dependencies]
dunce = "1.0.3"

[dev-dependencies]
assert_cmd = "2.0.5"
criterion = "0.4.0"
tempfile = "3.3.0"

[target.'cfg(not(windows))'.dev-dependencies]
gag = "1.0.0"

[features]
default = ["update-informer"]
stub_check_version = []

[profile.release]
opt-level = 'z' # Optimize for size
lto = true
codegen-units = 1
panic = 'abort'

[[bench]]
name = "check"
harness = false

[[bench]]
name = "fix"
harness = false

[[bench]]
name = "compare"
harness = false

[lib]
bench = false

[[bin]]
name = "dotenv-linter"
path = "src/main.rs"
bench = false
