name: Benchmark
on:
  pull_request:
    types: [labeled]

env:
  CARGO_TERM_COLOR: always

jobs:
  compare:
    if: ${{ github.event.label.name == 'benchmark' }}
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@stable
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: Swatinem/rust-cache@v2.7.7
      - uses: boa-dev/criterion-compare-action@v3.2.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branchName: ${{ github.base_ref }}
