# GitHub workflow files do not support YAML anchors.
name: CI
on:
  push:
    branches: [master]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  ##################
  ### Linux jobs ###
  ##################
  check-all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2.7.7
      - run: cargo check --all-targets
      - run: cargo fmt --all --check
      - run: cargo clippy --all-features -- -D warnings

  test-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
      # https://github.com/dtolnay/rust-toolchain/issues/29
      - run: rustup override set nightly
      - name: Set grcov version
        run: echo "GRCOV_VERSION=$(cargo search --limit 1 grcov | head -n1 | cut -d '"' -f2)" >> $GITHUB_ENV
      - uses: Swatinem/rust-cache@v2.7.7
        with:
          key: ${{ env.GRCOV_VERSION }}
      - run: cargo install --version $GRCOV_VERSION grcov
      - name: Clean coverage
        run: |
          rm -f target/debug/deps/*.gcda
          rm -f target/debug/deps/*.gcno
      - run: cargo test --all-features --no-fail-fast
        env:
          CARGO_INCREMENTAL: "0"
          RUSTFLAGS: |
            -Zprofile -Zpanic_abort_tests -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Cpanic=abort
      - uses: actions-rs/grcov@v0.1
      - uses: codecov/codecov-action@v4
        with:
          file: ./lcov.info

  cargo-sort:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2.7.7
      - run: cargo install cargo-sort
      - run: cargo-sort --check

  linux_install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup dotenv-linter
        run: |
          mkdir -p $HOME/bin
          sh "${GITHUB_WORKSPACE}/install.sh" -b $HOME/bin
      - name: Verify successful installation
        run: $HOME/bin/dotenv-linter --version

  install_specific_versions:
    strategy:
      matrix:
        version: [3.2.0, 2.2.1, 2.0.0, 1.1.1]
        os: [ubuntu-latest, macos-latest]
        exclude:
          - version: 2.2.1
            os: macos-latest
          - version: 2.0.0
            os: macos-latest
          - version: 1.1.1
            os: macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup dotenv-linter version ${{ matrix.version }}
        run: |
          mkdir -p $HOME/bin
          sh "${GITHUB_WORKSPACE}/install.sh" -b $HOME/bin v${{ matrix.version }}
      - name: Verify successful installation
        run: test "$($HOME/bin/dotenv-linter --version)" = "dotenv-linter ${{ matrix.version }}"

  install_specific_versions_wrong_input:
    strategy:
      matrix:
        tag: [hello, v2, vasd, /home/]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup dotenv-linter with wrong tag ${{ matrix.tag }}
        id: setup_dotenv_linter
        continue-on-error: true
        run: |
          mkdir -p $HOME/bin
          echo "OUTPUT=$(sh "${GITHUB_WORKSPACE}/install.sh" -b $HOME/bin ${{ matrix.tag }} 2>&1)" >> $GITHUB_OUTPUT
      - name: Verify install.sh fails with correct error message when given wrong tag input ${{ matrix.tag }}
        run: |
          test "${{ steps.setup_dotenv_linter.outputs.OUTPUT }}" = "dotenv-linter installer: Invalid tag '${{ matrix.tag }}': tag must be 'v' followed by a valid semantic version, like 'v3.2.0'"

  ####################
  ### Windows jobs ###
  ####################
  windows_test:
    runs-on: windows-latest
    steps:
      - name: Disable EOL conversion
        run: git config --global core.autocrlf false
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2.7.7
      - run: cargo test --all-features --no-fail-fast

  windows_install:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup dotenv-linter
        shell: bash # it uses Git Bash, i.e. MinGW
        run: |
          mkdir -p $HOME/bin
          sh "${GITHUB_WORKSPACE}/install.sh" -b $HOME/bin
      - name: Verify successful installation
        shell: bash
        run: $HOME/bin/dotenv-linter.exe --version

  windows_install_specific_versions:
    strategy:
      matrix:
        version: [3.2.0, 2.2.1, 2.1.0]
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup dotenv-linter version ${{ matrix.version }}
        shell: bash # it uses Git Bash, i.e. MinGW
        run: |
          mkdir -p $HOME/bin
          sh "${GITHUB_WORKSPACE}/install.sh" -b $HOME/bin v${{ matrix.version }}
      - name: Verify successful installation
        shell: bash # it uses Git Bash, i.e. MinGW
        run: test "$($HOME/bin/dotenv-linter --version)" = "dotenv-linter ${{ matrix.version }}"

  windows_install_specific_versions_wrong_input:
    strategy:
      matrix:
        tag: [hello, v2, vasd, /home/]
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup dotenv-linter with wrong tag ${{ matrix.tag }}
        shell: bash # it uses Git Bash, i.e. MinGW
        id: setup_dotenv_linter_windows
        continue-on-error: true
        run: |
          mkdir -p $HOME/bin
          echo "OUTPUT=$(sh "${GITHUB_WORKSPACE}/install.sh" -b $HOME/bin ${{ matrix.tag }} 2>&1)" >> $GITHUB_OUTPUT
      - name: Verify install.sh fails with correct error message when given wrong tag input ${{ matrix.tag }}
        shell: bash # it uses Git Bash, i.e. MinGW
        run: |
          test "${{ steps.setup_dotenv_linter_windows.outputs.OUTPUT }}" = "dotenv-linter installer: Invalid tag '${{ matrix.tag }}': tag must be 'v' followed by a valid semantic version, like 'v3.2.0'"

  ##################
  ### macOS jobs ###
  ##################
  macos_install:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup dotenv-linter
        run: |
          mkdir -p $HOME/bin
          sh "${GITHUB_WORKSPACE}/install.sh" -b $HOME/bin
      - name: Verify successful installation
        run: $HOME/bin/dotenv-linter --version

  ###################
  ### Docker jobs ###
  ###################
  docker_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # To build cross-platform images
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
      - run: |
          docker buildx build --platform linux/amd64,linux/arm64 -f Dockerfile -t dotenvlinter/dotenv-linter .

  ####################
  ### Check builds ###
  ####################
  builds:
    name: Build
    runs-on: ${{ matrix.OS }}
    strategy:
      matrix:
        build:
          - x86_64-linux-gnu
          - x86_64-linux-musl
          - aarch64-linux-gnu
          - aarch64-linux-musl
          - x86_64-darwin
          - aarch64-darwin
          - x86_64-windows-msvc
          - aarch64-windows-msvc
        include:
          # Linux
          - BUILD: x86_64-linux-gnu
            OS: ubuntu-latest
            TOOLCHAIN: stable
            TARGET: x86_64-unknown-linux-gnu
            BUILD_OPTIONS: ""
          - BUILD: x86_64-linux-musl
            OS: ubuntu-latest
            TOOLCHAIN: stable
            TARGET: x86_64-unknown-linux-musl
            BUILD_OPTIONS: ""
          - BUILD: aarch64-linux-gnu
            OS: ubuntu-latest
            TOOLCHAIN: stable
            TARGET: aarch64-unknown-linux-gnu
            BUILD_OPTIONS: ""
          - BUILD: aarch64-linux-musl
            OS: ubuntu-latest
            TOOLCHAIN: stable
            TARGET: aarch64-unknown-linux-musl
            BUILD_OPTIONS: "--no-default-features"
          # macOS
          - BUILD: x86_64-darwin
            OS: macos-13
            TOOLCHAIN: stable
            TARGET: x86_64-apple-darwin
            BUILD_OPTIONS: ""
          - BUILD: aarch64-darwin
            OS: macos-14
            TOOLCHAIN: stable
            TARGET: aarch64-apple-darwin
            BUILD_OPTIONS: ""
          # Windows
          - BUILD: x86_64-windows-msvc
            OS: windows-latest
            TOOLCHAIN: stable
            TARGET: x86_64-pc-windows-msvc
            BUILD_OPTIONS: ""
          - BUILD: aarch64-windows-msvc
            OS: windows-latest
            TOOLCHAIN: stable
            TARGET: aarch64-pc-windows-msvc
            BUILD_OPTIONS: "--no-default-features"
    steps:
      - uses: actions/checkout@v4
      - name: Install musl-tools
        if: matrix.TARGET == 'x86_64-unknown-linux-musl'
        run: |
          sudo apt-get install -y --no-install-recommends musl-tools
      - name: Install aarch64 gnu linker
        if: matrix.TARGET == 'aarch64-unknown-linux-gnu' || matrix.TARGET == 'aarch64-unknown-linux-musl'
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-aarch64-linux-gnu musl-tools
          echo "CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER=aarch64-linux-gnu-gcc" >> $GITHUB_ENV
          echo "CARGO_TARGET_AARCH64_UNKNOWN_LINUX_MUSL_LINKER=aarch64-linux-gnu-gcc" >> $GITHUB_ENV
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.TOOLCHAIN }}
          targets: ${{ matrix.TARGET }}
      - uses: Swatinem/rust-cache@v2.7.7
        with:
          key: ${{ matrix.TARGET }}
      - name: Build
        run: |
          rustup target add ${{ matrix.TARGET }}
          cargo build --release --target ${{ matrix.TARGET }} ${{ matrix.BUILD_OPTIONS }}
