name: Release
on:
  push:
    tags: ['*.*.*']

env:
  CARGO_TERM_COLOR: always

jobs:
  release-binary:
    runs-on: ${{ matrix.OS }}
    strategy:
      matrix:
        build:
          - x86_64-linux-gnu
          - x86_64-linux-musl
          - aarch64-linux-gnu
          - aarch64-linux-musl
          - x86_64-darwin
          - aarch64-darwin
          - x86_64-windows-msvc
          - aarch64-windows-msvc
        include:
          # Linux
          - BUILD: x86_64-linux-gnu
            OS: ubuntu-latest
            TOOLCHAIN: stable
            TARGET: x86_64-unknown-linux-gnu
            ARCH_SUFFIX: linux-x86_64
            BUILD_OPTIONS: ''
          - BUILD: x86_64-linux-musl
            OS: ubuntu-latest
            TOOLCHAIN: stable
            TARGET: x86_64-unknown-linux-musl
            ARCH_SUFFIX: alpine-x86_64
            BUILD_OPTIONS: ''
          - BUILD: aarch64-linux-gnu
            OS: ubuntu-latest
            TOOLCHAIN: stable
            TARGET: aarch64-unknown-linux-gnu
            ARCH_SUFFIX: linux-aarch64
            BUILD_OPTIONS: ''
          - BUILD: aarch64-linux-musl
            OS: ubuntu-latest
            TOOLCHAIN: stable
            TARGET: aarch64-unknown-linux-musl
            ARCH_SUFFIX: alpine-aarch64
            BUILD_OPTIONS: '--no-default-features'
          # macOS
          - BUILD: x86_64-darwin
            OS: macos-13
            TOOLCHAIN: stable
            TARGET: x86_64-apple-darwin
            ARCH_SUFFIX: darwin-x86_64
            BUILD_OPTIONS: ''
          - BUILD: aarch64-darwin
            OS: macos-14
            TOOLCHAIN: stable
            TARGET: aarch64-apple-darwin
            ARCH_SUFFIX: darwin-arm64
            BUILD_OPTIONS: ''
          # Windows
          - BUILD: x86_64-windows-msvc
            OS: windows-latest
            TOOLCHAIN: stable
            TARGET: x86_64-pc-windows-msvc
            ARCH_SUFFIX: win-x64
            BUILD_OPTIONS: ''
          - BUILD: aarch64-windows-msvc
            OS: windows-latest
            TOOLCHAIN: stable
            TARGET: aarch64-pc-windows-msvc
            ARCH_SUFFIX: win-aarch64
            BUILD_OPTIONS: '--no-default-features'
    steps:
      - uses: actions/checkout@v4
      - name: Install musl-tools
        if: matrix.TARGET == 'x86_64-unknown-linux-musl'
        run: |
          sudo apt-get install -y --no-install-recommends musl-tools
      - name: Install aarch64 gnu linker
        if: matrix.TARGET == 'aarch64-unknown-linux-gnu' || matrix.TARGET == 'aarch64-unknown-linux-musl'
        run: |
          sudo apt-get install -y gcc-aarch64-linux-gnu musl-tools
          echo "CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER=aarch64-linux-gnu-gcc" >> $GITHUB_ENV
          echo "CARGO_TARGET_AARCH64_UNKNOWN_LINUX_MUSL_LINKER=aarch64-linux-gnu-gcc" >> $GITHUB_ENV
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.TOOLCHAIN }}
          targets: ${{ matrix.TARGET }}
      - uses: Swatinem/rust-cache@v2.7.7
        with:
          key: ${{ matrix.TARGET }}
      - name: Build
        run: |
          rustup target add ${{ matrix.TARGET }}
          cargo build --release --target ${{ matrix.TARGET }} ${{ matrix.BUILD_OPTIONS }}
      - name: Archive binary (unix)
        if: matrix.OS != 'windows-latest'
        run: |
          mv target/${{ matrix.TARGET }}/release/dotenv-linter ./dotenv-linter
          chmod +x dotenv-linter
          tar -czf dotenv-linter-${{ matrix.ARCH_SUFFIX }}.tar.gz dotenv-linter
          rm dotenv-linter
      - name: Archive binary (win)
        if: matrix.OS == 'windows-latest'
        run: |
          Compress-Archive -Path ".\target\${{ matrix.TARGET }}\release\dotenv-linter.exe" -DestinationPath ".\dotenv-linter-${{ matrix.ARCH_SUFFIX }}.zip"
      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          files: dotenv-linter-*
          draft: true
          body_path: CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      # To build cross-platform images
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push image
        run: |
          GIT_TAG=$(git describe --tags `git rev-list --tags --max-count=1` | sed "s/v//")

          docker buildx build --push --platform linux/amd64,linux/arm64 -f Dockerfile -t dotenvlinter/dotenv-linter:${GIT_TAG} .
          docker buildx build --push --platform linux/amd64,linux/arm64 -f Dockerfile -t dotenvlinter/dotenv-linter:latest .

  release-crate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build and publish to crates.io
        run: |
          cargo login ${{ secrets.CRATES_TOKEN }}
          cargo publish

  release-aur:
    runs-on: ubuntu-latest
    container: archlinux:base
    steps:
      # see: https://github.community/t5/GitHub-Actions/How-to-get-just-the-tag-name/m-p/32167#M1027
      - name: Get the version
        id: get_version
        run: echo "VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_OUTPUT

      - name: Build and publish to aur.archlinux.org
        run: |
          pacman -Sy --needed --noconfirm sudo git binutils openssh && \
          useradd builduser -m && \
          su builduser -c "
            mkdir ~/.ssh && \
            echo \"${{ secrets.SSH_PUBLIC_KEY }}\" > ~/.ssh/id_rsa.pub && \
            echo \"${{ secrets.SSH_PRIVATE_KEY }}\" > ~/.ssh/id_rsa && \
            chmod 600 ~/.ssh/id_rsa && \
            ssh-keyscan aur.archlinux.org >> ~/.ssh/known_hosts && \
            git config --global user.email \"work@mgrachev.com\" && \
            git config --global user.name \"Dotenv Linter\" && \
            cd ~ && \
            git clone ssh://aur@aur.archlinux.org/dotenv-linter-bin.git && \
            cd dotenv-linter-bin && \
            sed -i \"s/pkgver=.*/pkgver=${{ steps.get_version.outputs.VERSION }}/\" PKGBUILD && \
            makepkg --printsrcinfo > .SRCINFO
            git status && \
            git diff && \
            git add . && \
            git commit -m 'release ${{ steps.get_version.outputs.VERSION }}' && \
            git push origin master
          "
